.reactLogo {
    width: 3rem;
    height: auto;
    animation: spin 10s linear infinite;
}

.Link {
    color: white;
    text-decoration: none;
}

.Link:hover {
    color: orange;
}

.Link.active {
    color: gold;
    font-weight: italic;
}

.Link.active:hover {
    color: orange;
}

.header {
    padding: 20px 0;
    background-color: hsl(240, 50%, 20%);
    width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}