.reactLogo {
    width: 3rem;
    height: auto;
    animation: spin 10s linear infinite;
}

.Link {
    color: white;
    text-decoration: none;
}

.Link:hover {
    color: orange !important;
}

.Link.active {
    color: gold !important;
    font-weight: italic;
}

.Link.active:hover {
    color: orange !important;
}

.header {
    background-color: hsl(240, 50%, 20%);
    width: 100%;
    z-index: 1000; /* Ensures the menu floats above other content */
}

.navbar-nav .nav-link {
    margin-left: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

